#enter{
    text-align: center;
    word-spacing: normal;
    line-break: auto;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    color :blue
}
#new_book_form{
    text-align: center;

}